<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>
    <h1>Dear, <%= @user.name %></h1>
    <p>
     The <%= @device.name %> was successfully booked. Our manager will contact you soon. 

     <li><%= @device.name %></li>
        [ Term of booking ]
        [ Delivery method ]
     <li><%= @device.price %></li>
    </p>
    <p>
      This email is generated automatically. Please don't reply to this email. If you don't know why you received this email, please ignore it.
    </p>
    <p>© 2022 Spielkonsolen.com Inc. All Rights Reserved.</p>
  </body>
</html>