<h1>Showing device details</h1>
<p><strong>Name: </strong><%= @device.name %></p>
<p><strong>Description: </strong><%= @device.description %></p>
<p><strong>Complectation: </strong><%= @device.complectation %></p>
<p><strong>Price, $: </strong><%= @device.price %></p>
<p><strong>Image: </strong></p>
